<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>MWOLD</title>
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="http://localhost:3000/styles.css" />


  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- remix icon cdn link  -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


  <!-- FONT AWESOME -->
  <!--     <link rel="stylesheet" href="http://localhost:3000/form.css">
 -->
  <!-- bootstrap -->
  <!--   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>

<body>
  <!-- navigation -->
  <header class="header">
    <a href="http://localhost:5173/" class="logo"><img src="http://localhost:3000/13-reporte.png"
        style="height: 100px; width: 100px;" alt=""></a>
    <nav class="navbar">
      <a href="http://localhost:5173/">Inicio</a>
      <a href="http://localhost:3000/customer">Clientes</a>
      <a href="http://localhost:3000/condominio">Condominios</a>
      <a href="#menu">Contacto</a>
    </nav>
    <div class="icons">
      <div id="menu-btn" class="ri-menu-line"></div>
      <div id="login-btn" class="ri-user-line"></div>
    </div>
  </header>

  <!-- login-form start -->

  <div class="login-form-container">
    <form action="">
      <h3>Inicio de sesión</h3>
      <input type="email" placeholder="example@mwold.net" class="box">
      <input type="password" placeholder="contraseña" class="box">
      <div class="remember">
        <input type="checkbox" name="" id="remember-me">
        <label for="remember-me">recuérdame</label>
      </div>
      <input type="submit" value="Iniciar sesión" class="btn">
      <p>¿Olvidaste tu contraseña? <a href="#">Presiona aquí</a> </p>
      <p>¿No tienes una cuenta? <a href="#">Crea una aquí</a> </p>
    </form>
  </div>

  <!-- login-form end -->

  <!-- end navigation -->



</body>

</html>